{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{cover_export_enabled, true}.
%{erl_opts,
 % [debug_info, warnings_as_errors]}.
%{plugins, [rebar_ct]}.
{clean_files, ["test/*.beam","ct_test/*.beam"]}.
{lib_dirs,["deps"]}.
{src_dirs, ["src"]}.
{erl_opts, [debug_info]}.
%%{erl_first_files, ["deps/ranch/src", "deps/cowlib/src/","deps/cowboy/src/"]}.
%%{src_dirs, ["scr","deps/cowlib/src","deps/ranch/src", "deps/cowboy/src"]}
{deps, [
  {core, ".*",
    {git, "git@gitlab.com:alituhikyaj/erlang_core.git",{branch, "master"}}},
 % {re2,".*",{git,"https://github.com/tuncer/re2.git",{tag,"v1.2.2"}}}, for some compilers it jams
  {erlsom, ".*", {git, "https://github.com/willemdj/erlsom.git", {tag, "v1.4.0"}}},
  {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", "c81282a"}}, %% just after tag: 1.4.9)
  {ibrowse,".*",{git,"https://github.com/cmullaparthi/ibrowse.git",{branch,"master"}}},
  {meck, ".*",
    {git, "https://github.com/eproxus/meck.git", {tag, "0.8.2"}}},
  {soap,".*",{git,"https://github.com/bet365/soap.git",{branch,"master"}}}

  %{jiffy,   ".*",
   % {git, "git@github.com:davisp/jiffy.git",    "master"}}
]}.
%% {post_hooks, [{compile, "mkdir -p ./priv/static"},
%%   {compile, "cp -R ./deps/nitrogen_pegasus/www priv/static/nitrogen"}
%% ]}.

%% == Common Test ==

%% Override the default "test" directory in which SUITEs are located
{ct_dir, "ct_test"}.

%% Override the default "logs" directory in which SUITEs are logged
{ct_log_dir, "ct_test/logs"}.

%% Option to pass extra parameters when launching Common Test
%{ct_extra_params, "-boot start_sasl -s myapp"}.

{ct_extra_params, "-boot start_sasl -pa ./ebin/ -pa ./deps/cowboy/ebin/ -pa ./deps/cowlib/ebin/ -pa ./deps/ranch/ebin/ -pa ./deps/sync/ebin/ -pa ./deps/jsx/ebin -pa ./deps/authenticator/ebin/ -pa ./deps/cqerl/ebin/ -pa ./deps/lz4/ebin/ -pa ./deps/pooler/ebin/ -pa ./deps/quickrand/ebin -pa ./deps/re2/ebin/ -pa ./deps/semver/ebin/ -pa ./deps/snappy/ebin/ -pa ./deps/uuid/ebin/ -pa ./deps/hackney/ebin/ -pa ./deps/idna/ebin/ -pa ./deps/mimerl/ebin/ -pa ./deps/certifi/ebin/ -pa ./deps/ssl_verify_hostname/ebin/ -pa ./deps/edown/ebin/ -pa ./deps/gen_leader/ebin/ -pa ./deps/gproc/ebin/"}.


%% Option to use short names (i.e., -sname test) when starting ct
{ct_use_short_names, true}.
